 
 * {
  background-color: rgb(24, 24, 24);
  color: whitesmoke;
 }

 input {
  border: 1px solid white;
 }
 button {
  border: 1px solid white;
  padding: 3px;
  border-radius: 5px;
 }
#tasks {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  #input {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}